*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading1{
    font-size: 5rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 7%;

}
 @keyframes color{
    0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
body{
    height: 100vh;
    animation: color 15s linear infinite;
    background:linear-gradient(-45deg,#242f49, #384358, #651a2b, #10182a, #3e0713);
    background-size: 400% 400%;
   
} 
.clock{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-size: 7rem;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.1),0px 10px 20px rgba(0,0,0,0.7);
    height: 10rem;
    max-width: 700px;
    margin:auto;
    margin-top: 10%;
    border-radius: 15px;
    
}
.clock span{
    font-size:2rem;
    margin-bottom: 50px;
    margin-left: 8px;

}
@media screen and (max-width:768px){
    .heading1{
        font-size: 3rem;
        
    }
    .clock{
        font-size: 4rem;
        height: 8rem;
    }
    .clock span{
        font-size: 1.5rem;
        margin-bottom:30px ;
    }
}




